/* univesal selectors */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* nav bar settings */
nav {
    color: purple;
    font-size: 1.5 rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#high-score:hover{
cursor: pointer;
}

/* outer box */
.console {
    border: 1px solid gray;
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 70%;
    margin: auto;
    padding: 40px;
    margin-top: 40px;
}

/* centers the button in the div */
.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

/* button styles */
.begin-quiz {
    background-color: rgb(220, 190, 245);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.question-console {
    padding: 40px;
    margin: 10px;
}

.answer-choices {
    display: flex;
    flex-direction: column;
}

.answer-btn {
    text-align: left;
    padding: 10px;
    margin: 5px;
    background-color: rgb(232, 224, 240);
    border-radius: 5px;
}

.answer-btn:hover {
    background-color: rgb(158, 68, 248);
    color: white;
}

.answer-btn:active {
    background-color: rgb(158, 68, 248);
    color: white;
}

h2 {
    padding: 10px;
}

.right-wrong {
    /* margin: auto; */
    margin-top: -35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    color: purple;
    text-align: center;
    width: 100%;
}

h3{
    font-size: 1.75rem;
    color:rgb(97, 41, 153);
    padding: 30px;
    text-align: center;
}

.add-space {
 margin-bottom: 25px;
 text-align: center;
}

form {
    text-align: center;
}

.restart {
    width: 130px;
    margin: auto;
    background-color: rgb(237, 226, 246);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}