/* univesal selectors */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* nav bar settings */
nav {
    color: purple;
    font-size: 1.5 rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#high-score:hover{
cursor: pointer;
}

/* body elements */
/* outer box */
.console {
    border: 1px solid gray;
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 70%;
    margin: auto;
    padding: 40px;
    margin-top: 40px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

p {
    margin: 20px;
}

/* centers the start button in the opening body */
.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

/* styles for buttons */
.begin-quiz,
.restart,
.clear {
    background-color: rgb(220, 190, 245);
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    width: 120px;
    margin: 20px;
}

/* style to questions */
h2 {
    padding: 10px;
    margin-top: -10px;
}

/* aligns the answer choices vertically */
.answer-choices {
    display: flex;
    flex-direction: column;
}

/* adds style to answer choice buttons */
.answer-btn {
    text-align: left;
    padding: 10px;
    margin: 5px;
    background-color: rgb(232, 224, 240);
    border-radius: 5px;
}

.answer-btn:hover {
    background-color: rgb(158, 68, 248);
    color: white;
}

/* graphics for correct/incorrect responses */
.right-wrong {
    /* margin: auto; */
    margin-top: -35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    color: purple;
    text-align: center;
    width: 100%;
}

/* highscore labels */
h3 {
    font-size: 1.75rem;
    color:rgb(97, 41, 153);
    padding: 10px;
    text-align: center;
    margin-top: -10px;
}

/* highscore text */
.add-space {
    margin-bottom: 25px;
    text-align: center;
}

/* aligns form to enter initials */
form {
    text-align: center;
}

/* aligns restart button */
.center-restart {
    text-align: center;
}

/* top 5 scores list */
.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    font-size: 1.1rem;
}

/* aligns buttons on top 5 highscore page*/
.fit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}